@media only screen and (max-width: 992px) {
  .fixed_nav ul {
    display: none;
  }

  .nav-icon {
    display: block;
  }


}

@media only screen and (min-width: 992px) {
  .dropdown-menu {
    display: none;
  }
}
