@media only screen and (max-width: 1199px) {

  .header_overlay {
    min-height: 700px;
  }

  .header_content {
    margin-top: 280px;
  }

  .about_text {
    padding-left: 85px;
  }

  .about h2 {
    font-size: 60px;
  }

  .serv_title h2 {
    font-size: 60px;
  }

  .cup_img img {
    margin-left: -25px;
  }

}

@media only screen and (max-width: 991px) {

  [class*="col-"] {
    width: 100%;
  }

  .services .col-9 {
    width: 75%;
  }

  .services .col-3 {
    width: 25%;
  }

  .header_content p {
    padding-right: 450px;
  }

  .about {
    text-align: center;
  }

  .about_text {
    padding: 0 100px;
  }

  .cup_img img {
    margin-left: 0;
  }

  .cup_img {
    padding: 0 100px;
  }

  .serv_btn {
    max-width: 0;
    min-width: 400px;
  }

  .serv_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services .row {
    transform: scaleY(-1);
  }

  .serv_btns, .serv_title {
    transform: scaleY(-1);
  }

  .serv_title {
    margin-top: 30px;
  }

}

@media only screen and (max-width: 767px) {

  .fixed_nav ul {
    display: none;
  }

  .header_content {
    margin-top: 220px;
  }

  .nav-icon {
    display: block;
  }

  .fixed_nav {
    background-color: rgba(249, 249, 251, 0.9);
  }

  .header_content p {
    padding-right: 250px;
  }

  .about_text {
    padding: 0 30px;
  }

  .cup_img {
    padding: 0 50px;
  }

}

@media only screen and (max-width: 575px) {

  .header_content p {
    padding-right: 70px;
  }

  .header_content {
    margin-top: 180px;
  }

  .header_button {
    margin-bottom: 50px;
  }

  .about_text {
    padding: 0;
  }

  .serv_btn {
    min-width: 90%;
  }

}

@media only screen and (max-width: 450px) {
  .header_content p {
    padding-right: 13px;
  }
}

@media only screen and (max-width: 400px) {
  .services .serv_btn:nth-of-type(3) p {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 767px) {
  .dropdown-menu {
    display: none;
  }
}
