* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9fb;
}

/* Main Classes*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row::before, .row::after {
  display: block;
  content: '';
  clear: both;
}

.row {
  height: 100%;
}

/* Grid */

[class*="col-"] {
  float: left;
  min-height: 1px;
  /*border: 1px solid lightgrey;*/
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* Button */

.button {
  font-size: 20px;
  width: 200px;
  height: 55px;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

/* Header */

header{
  position: relative;
  background-image: url("../images/main_bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}


/* Main Navigation*/

.fixed_nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 110;
  height: 100px;
  transition: all 800ms;
	-moz-transition: all 800ms;
	-0-transition: all 800ms;
	-webkit-transition: all 800ms;
}

.main_logo {
  float: left;
  margin-top: 22px;
  margin-left: 13px;
  -moz-transition: all 800ms;
	-0-transition: all 800ms;
	-webkit-transition: all 800ms;
  }

.fixed_nav ul {
  float: right;
  margin-top: 38px;
  -moz-transition: all 800ms;
	-0-transition: all 800ms;
	-webkit-transition: all 800ms;
}

.fixed_nav li {
  display: inline-block;
  margin-left: 19px;
  margin-right: 14px;
}

.fixed_nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  font-size: 16px;
  font-weight: 700;
}

.fixed_nav a:hover {
  padding-top: 6px;
  border-top: 3px solid #fe6031;
}

/* tablets and mobile navigation*/

.nav-icon {
  width: 45px;
  height: 20px;
  float: right;
  margin-top: 26px;
  margin-right: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #262626;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0px;
}

.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 18px;
}

.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 36px;
}

.nav-icon.open span:nth-child(1), .nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2), .nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.dropdown-menu {
    position: fixed;
    top: 99px;
    width: 100%;
    background-color: rgba(249, 249, 251, 0.9);
    z-index: 2;
    text-align: center;
    -moz-transition: all 800ms;
  	-0-transition: all 800ms;
  	-webkit-transition: all 800ms;
    display: none;
}

.show {
    display: block;
}

.dropdown-menu li {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid black;
}

.dropdown-menu a {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.dropdown-menu li:hover, li:focus {
  background-color: #fe6033;
}

/* Header Content*/

.header_overlay {
  min-height: 950px;
}

.header_content {
  color: #262626;
  background-color: transparent;
  margin-left: 13px;
  margin-top: 320px;
  z-index: 1;
}

.header_content h2 {
  font-size: 62px;
  font-weight: 800;
  margin-bottom: 13px;
}

.header_content p {
  line-height: 27px;
  margin-bottom: 28px;
  padding-right: 190px;
}

.header_button {
  background-color: #fe6033;
  color: #fff;
  margin-bottom: 100px;
}

.scroll {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  bottom: 37px;
}

/* About */

.about {
  background-color: #00afaf;
  min-height: 700px;
  padding: 30px 0;
  color: #fff;
}

.about h2 {
  font-size: 90px;
  font-weight: bolder;
  margin-top: 130px;
  margin-bottom: 10px;
}

.about p {
  line-height: 27px;
  margin-bottom: 10px;
}

.cup_img {
  position: relative;
  min-height: 620px;
}

.cup_img img {
  position: absolute;
  left: -45px;
}

/* Services */

.services {
  background-color: #70c0ff;
  min-height: 790px;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.serv_btns {
  padding: 78px 0px 0px 112px;
}

.serv_btn {
    position: relative;
    max-width: 400px;
    height: 100px;
    color: #000;
    background-color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);

}

.serv_title {
  min-height: 560px;
  background-image: url('../images/tomatos.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.serv_title h2 {
  font-size: 90px;
  font-weight: 700;
  margin-top: 210px;
}

.serv_btn p {
  font-size: 20px;
  font-weight: 600;
  padding-top: 33px;
}

.btn_img {
  border-left: 1px solid black;
  height: 100%;
  padding-top: 28px;
}

/* Gallery */

.gallery {
  background-color: #ffe92f;
  min-height: 1440px;
  padding: 75px 0;
  color: #262626;
  text-align: center;
}

.gallery_header {
  padding: 0 280px;
}

.gallery h2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.gallery p {
  line-height: 27px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.gallery_img {
  padding: 15px;
}
.gallery img {
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}

.gallery button {
  margin-top: 28px;
  background-color: #5585a2;
  color: #fff;
}

/* Subscribe */

.subscribe {
  background-image: url('../images/sub_bg.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0px 140px 20px;
  min-height: 500px;
  color: #262626;
}

.subscribe h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 35px 0 20px 0;
}

.sub_form {
  margin-top: 26px;
}
.subscribe p {
  line-height: 27px;
}

.sub_btn {
  background-color: #96b92c;
  color: #fff;
  width: 165px;
}

.sub_input {
  height: 55px;
  width: 71%;
  border: 1px solid #262626;
  margin-right: 30px;
  padding: 10px;
}

/* Blog */

.blog {
  background-color: #b07cf7;
  padding: 100px 0;
  color: #fff;
  min-height: 864px;
  text-align: center;
}

.blog_header {
  padding: 0 280px;
}

.blog h2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog p {
  line-height: 27px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.blog_img {
  position: relative;
  min-height: 310px;
  max-width: 370px;
  margin: 0 15px 50px 15px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.img_01 {
  background-image: url('../images/blog_one.jpg');
}

.img_02 {
  background-image: url('../images/blog_two.jpg');
}

.img_03 {
  background-image: url('../images/blog_three.jpg');
}

.blog_date {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 30px;
}

.blog_date p {
  line-height: 27px;
  font-size: 20px;
  font-weight: 800;
}

.img_content {
  text-align: left;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0px;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 59%, rgba(0,0,0,0.79) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(59%, rgba(0,0,0,0.79)), color-stop(100%, rgba(0,0,0,0.79)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 59%, rgba(0,0,0,0.79) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 59%, rgba(0,0,0,0.79) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 59%, rgba(0,0,0,0.79) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 59%, rgba(0,0,0,0.79) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.img_content:hover {
  background: rgba(0,0,0,0);
}

.img_content h3 {
  margin: 45px 20px 15px 20px;
  font-size: 20px;
  font-weight: 600;
}

.img_content p {
  margin-left: 20px;
  font-size: 12px;
  color: #7a8073;
}

.blog_btn {
  background-color: #f72b3b;
  color: #fff;
}

/* Contact */

.contact {
  padding: 80px 0;
  color: #262626;
  min-height: 866px;
  background-image: url('../images/contact_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_header {
  text-align: center;
}

.contact_header h2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 22px;
}

.contact_header p {
  line-height: 27px;
  padding: 0 400px;
  margin-bottom: 40px;
}

.contact_form {
  margin-left: 20px;
}

.contact input, textarea {
  width: 72%;
  height: 50px;
  margin-bottom: 15px;
  padding: 15px;
  border: none;
  background-color: rgba(120, 218, 217, 0.7);
  color: #fff;
  outline: 0;
}

.contact textarea {
  resize: none;
  height: 200px;
}

.contact input::placeholder, textarea::placeholder {
  color: #fff;
}

.contact input:focus, textarea:focus {
  font-weight: 600;
  border-left: 5px solid #355b82;
  background-color: rgba(0, 196, 196, 0.7);
}

.contact_content h3 {
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 19px;
}

.contact_content p {
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 17px;
}

.contact_btn {
  background-color: rgba(0, 196, 196, 1) !important;
  box-shadow: none;
}

.contact_btn:hover {
  border-left: 5px solid #355b82;
}

/* Footer */

.footer {
  height: 100px;
  background-color: #262626;
  color: #b9b9b9;
  padding: 35px;
  text-align: center;
}

.right {
  float: right;
}

.left {
  text-align: left;
}

.footer a {
  text-decoration: none;
  color: #ff2b58;
}

.footer p {
  margin: 0 20px;
}

.footer a:visited {
  text-decoration: none;
  color: #ff2b58;
}
